{% extends 'base.html' %}

{% block content %}
    <h1 align="center">员工列表</h1>
    <hr>

    <table class="table table-hover" style="font-size: 20px">
        <tr class="info" style="text-align: center">
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>操作</th>
        </tr>
        {% for staff in page %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>
                    <a href="{% url 'staff:staff_info' %}?sid={{ staff.id }}&page={{ page.number }}">{{ staff.name }}</a>
                </td>
                <td>{{ staff.age }}</td>
                {% if staff.gender %}
                    <td>男</td>
                {% else %}
                    <td>女</td>
                {% endif %}

                <td>
                    <a href="{% url 'staff:staff_delete' %}?sid={{ staff.id }}&page={{ page.number }}">删除</a>
                    &nbsp&nbsp
                    <a href="{% url 'staff:staff_update' %}?sid={{ staff.id }}&page={{ page.number }}">修改</a>
                </td>
            </tr>
        {% endfor %}
    </table>


    {#    ----------------------------------分页-------------------#}
    <div align="center" style="margin-bottom: 30px">
        <nav aria-label="Page navigation" class="navbar-sta">
            <ul class="pagination">

                {#前一页#}
                <li>
                    {% if page.has_previous %}
                        <a href="{% url 'staff:staffList' %}?page={{ page.previous_page_number }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% else %}
                        <a href="#" aria-label="Previous" style="color: gray">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% endif %}
                </li>
                {#页码显示#}
                {% for x in page_range %}
                    {% if x == page.number %}
                        <li><a href="#" style="color: black">{{ x }}</a></li>
                    {% else %}
                        <li><a href="{% url 'staff:staffList' %}?page={{ x }}">{{ x }}</a></li>
                    {% endif %}
                {% endfor %}

                {#后一页#}
                <li>
                    {% if page.has_next %}
                        <a href="{% url 'staff:staffList' %}?page={{ page.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% else %}
                        <a href="#" aria-label="Next" style="color: gray">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}